/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.about__container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 15% 50%;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: -o-linear-gradient(45deg, transparent, var(--color-primary), transparent);
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.about__me-image:hover{
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}

.about__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 2rem;
    text-align: center;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}
.about__icon {
    color:  var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}
.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */

@media screen and (max-width: 1024px) {
    .about__container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}


/* ====================== MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        -ms-grid-columns: 1fr 1rem 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}