/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header {
    height: 140vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/*======================== CTA ========================*/

.cta {
    margin-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*======================== HEADER SOCIALS ========================*/

.header__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/*======================== ME ========================*/

.me {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-primary)), to(transparent));
    background: -o-linear-gradient(var(--color-primary), transparent);
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 35rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/*======================== SCROLL DOWN ========================*/

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    font-family: Poppins_light;
    font-size: 0.9rem;
}

/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */

@media screen and (max-width: 1024px) and (min-height: 750px){
    header {
        height: 100vh;
    }
}


/* ====================== MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px) and (min-height: 750px){
    header {
        height: 100vh;
    }
    .header__socials,.scroll__down{
        display: none;
    }
}
/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */

@media screen and (max-width: 1024px) and (max-height: 750px){
    header {
        height: 150vh;
    }
}


/* ====================== MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px)  and (max-height: 750px){
    header {
        height: 130vh;
    }
    .header__socials,.scroll__down{
        display: none;
    }
}
